body {
    background-color: #ececec;
    margin: 0;
}

header {
	top: 0;
	left: 0;
    width: 100%;
    height: 90px;
    background-color: rgb(167, 64, 64);
    font-family: 'Playpen Sans', cursive;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    min-height: 500px; /* define altura mínima com possibilidade de aumentar à medida que é acrescentado cards */
    margin-bottom: 50px;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    position: static; /* mantém estático naquele lugar e não fico na tela */
    bottom: 0;      /* fim da página */
    width: 100%;
    background-color:#e3e3e3;
    font-family: 'Playpen Sans', cursive;
    color:rgb(120, 120, 120);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.conteudo {
    margin-top: 30px;
}
.tipos {
    font-family: 'Playpen Sans', cursive;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}

.tipos:hover {
    cursor: pointer;
}
.all:hover {
    color:#b0544e;
}
.minus.icon {
    color: #000;
    margin-left: 3px;
    margin-top: 10px;
    width: 100%;
    height: 1.6px;
    background-color: currentColor;
}
    
.group {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
}

.input {
    font-family: 'Playpen Sans', cursive;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    margin: 12px 12px 12px 0px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    gap: 4px;
    height: 40px;
    width: auto; 
    border: none;
    background: rgb(167, 64, 64);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
   
.input::placeholder {
    color: #9e9ea7;
}
   
.input:focus, input:hover {
    outline: none;
    border-color: rgba(20, 25, 44, 0.4);
    background-color: #fff;
}
.lable {
    line-height: 22px;
    font-size: 17px;
    color: white;
    font-family: 'Playpen Sans', cursive;
    letter-spacing: 1px;
}
  
.button:hover {
    background: rgb(146, 56, 56);
}
  
.card {
    margin-top: 12px;
    width: auto;
    height: 50px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative; /* foi posto para posicionar o lixo no final da div e position: absolute na classe dele*/
}

/* the checkbox inside the card */
.container {
    margin-left: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* antigo checkbox escondido*/
.container input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.task {
    font-family: 'Playpen Sans', cursive;
    font-size: 14px;
}

.trash {
    background-color: transparent;
    border: none;
    display: flex;
    cursor: pointer;
    position: absolute;
    right: 12px;
}
/* tamanho definido para o checkbox */
label {
    position: relative;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

/* design do novo checkbox */
label span {
    width: 100%;
    height: 100%;
    border: 1px;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
}

/* ao mudar o estado para checked, ele muda a cor do novo checkbox */
.container input:checked ~ .checkmark {
    background-image: linear-gradient(rgb(146, 56, 56),rgb(174, 75, 75));
}

/* cria o checkmark */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
   
/* mostra o checkmark quando checked */
.container input:checked ~ .checkmark:after { /* classe funcao:condicao ~ outra classe(abaixo instruções p/ ele) */
    display: block
}

/* estilizar checkmark */
.container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}